#page-numbers {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #page-numbers > li {
    color: rgb(62, 140, 204);
    user-select: none;
    cursor: pointer;
    margin: 0 3px;
    padding: 0 5px;
    border: 1px solid rgb(62, 140, 204);
    text-align: center;
    border-radius: 2px;
  }
  
  #page-numbers > li:not(.active):hover {
    background: rgb(62, 140, 204);
    color: white;
  }
  
  #page-numbers > li.active {
    border-color: grey;
    color: white;
    background: grey;
    cursor: default;
  }
  .table tbody tr:nth-child(2n + 1) {
    background: #d2d2d280;
  }
  
  .table td, th {
    padding: 10px 7px;
  }
  
  .table {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .selectNumberRecord {
    margin-bottom: 15px;
  }  